---
name: "Build pcp"

on:
  pull_request:
  push:

jobs:
  build-and-publish-on-cachix:
    name: build (${{ matrix.system }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - system: aarch64-darwin
            os: macos-15

          - system: aarch64-linux
            os: ubuntu-24.04-arm

          - system: x86_64-darwin
            os: macos-15-intel

          - system: x86_64-linux
            os: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: Free Disk Space (Ubuntu Only)
        if: runner.os == 'Linux'
        uses: wimpysworld/nothing-but-nix@main

      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: pcp
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: |
          nix build -L ".#pcp"
          cachix push pcp result
