---
name: "Test"

on:
  pull_request:
  push:

jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: wimpysworld/nothing-but-nix@main
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: pcp
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix build -L ".#pcp"
